#div0 {
    font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
	position: relative;
}



#sign {
	position: absolute;
	top: 5cm;
	width: 100%;
	background-color: #CFCFCF;
	display: block;
}
#signin {
	margin: 1cm auto;
	width: 10cm;
}
#signin-incorrect {
	font-size: 16px;
	color: #cc0052;
	display: none;
}
#signin form {
	font-size: 25px;
	color: #4d4d4d;
}
#signin-username, #signin-password {
	width: 100%;
	padding: 8px 20px;
	margin: 8px 0;
	font-size: 20px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-sizing: border-box;
}
#signin-signin {
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	background-color: #C6205E;
	font-size: 25px;
	color: white;
	border-radius: 4px;
	border: none;
}
#signin-signin:hover {
	background-color: #97033f;
}
#signin-signin:focus {
	outline: 0;
}



#img {
	width: 100%;
}
#images {
	width: 35cm;
	margin: 1cm auto 0 auto;
}
.image {
	display: inline-block;
	padding: 10px 1px;
}
.image img {
	width: 11.5cm;
	padding: 0 0 10px 0;
}
.image p {
	margin: 3px;
	padding: 0;
	font-size: 20px;
	height: 30px;
}
.image input {
	width: 9cm;
	padding: 2px 8px;
	font-size: 20px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-sizing: border-box;
	float: right;
}
.image input[type=submit]:hover {
	background-color: #999999;
}


#signout {
	text-align: center;
	background-color: #C6205E;
	margin: 1cm;
}
#signout input {
	min-width: 33cm;
	width: 100%;
	padding: 7px;
	font-size: 35px;
	border: none;
	background-color: #C6205E;
	color: #ffffff;
	border-radius: 4px;
}
#signout input:hover {
	background-color: #97033f;
}



input:focus {
	outline: 0;
}
